html {scroll-behavior:smooth}

body {font-family:'Rubik', sans-serif}

.navbar {background-color:#252525 !important}

.navbar-toggler .navbar-toggler-icon {background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,220,220,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")}

.btn-close:hover, .btn-close.active, .btn-close:active {box-shadow:0 0 0 0.25rem rgba(25,135,84,0.25) !important}


.form-control:focus {border-color:#198754;
box-shadow:0 0 0 0.2rem rgba(25,135,84,0.25)}

.form-check-input:focus {border-color:#198754;
box-shadow:0 0 0 0.2rem rgba(25,135,84,0.25)}

.form-check-input:checked {border-color:#198754;background-color:#198754}


.footer{background-color:#252525 !important}

.showAnchor:target {display:block;
position:relative;visibility:hidden;top:-96px;}

.img-float {animation:imgFloat 2s infinite ease} @keyframes imgFloat {
0%{margin-top:1rem; margin-bottom:0}
40%{margin-top:0; margin-bottom:1rem}
100%{margin-top:1rem; margin-bottom:0} }

.shake {animation:shake 3s infinite;
transform: translate3d(0, 0, 0);
backface-visibility: hidden}
@keyframes shake {
2%, 18% {transform:translate3d(-1px, 0, 0)}
4%, 16% {transform:translate3d(2px, 0, 0)}
6%, 10%, 14% {transform:translate3d(-4px, 0, 0)} 8%, 12% {transform: translate3d(4px, 0, 0)} }



